@use "../partials/mixins";
@use "../partials/variables";

a {
  color: variables.$c_text_primary;
  @include mixins.pref_dark {
    color: variables.$c_text_primary--dark;
  }
  @include mixins.bg_transition(0.4s);

  &[href*="mailto:"]::before {
    content: "";
    margin-right: 6px;
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2m-.4 4.25l-7.07 4.42c-.32.2-.74.2-1.06 0L4.4 8.25a.85.85 0 1 1 .9-1.44L12 11l6.7-4.19a.85.85 0 1 1 .9 1.44'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }

  &[href*="tel:"]::before {
    content: "";
    margin-right: 6px;
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='m19.23 15.26l-2.54-.29a1.99 1.99 0 0 0-1.64.57l-1.84 1.84a15.05 15.05 0 0 1-6.59-6.59l1.85-1.85c.43-.43.64-1.03.57-1.64l-.29-2.52a2 2 0 0 0-1.99-1.77H5.03c-1.13 0-2.07.94-2 2.07c.53 8.54 7.36 15.36 15.89 15.89c1.13.07 2.07-.87 2.07-2v-1.73c.01-1.01-.75-1.86-1.76-1.98'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }

  &[href*=".pdf"]::after {
    content: "";
    margin-right: 6px;
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 15'%3E%3Cpath fill='black' d='M3.5 8H3V7h.5a.5.5 0 0 1 0 1M7 10V7h.5a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5z'/%3E%3Cpath fill='black' fill-rule='evenodd' d='M1 1.5A1.5 1.5 0 0 1 2.5 0h8.207L14 3.293V13.5a1.5 1.5 0 0 1-1.5 1.5h-10A1.5 1.5 0 0 1 1 13.5zM3.5 6H2v5h1V9h.5a1.5 1.5 0 1 0 0-3m4 0H6v5h1.5A1.5 1.5 0 0 0 9 9.5v-2A1.5 1.5 0 0 0 7.5 6m2.5 5V6h3v1h-2v1h1v1h-1v2z' clip-rule='evenodd'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }

  &[target="_blank"]::after {
    content: "";
    margin-right: 6px;
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M11 4H4v14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-5M9 15L20 4m-5 0h5v5'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }
}

address {
  // todo
}

abbr {
  color: variables.$c_text_secondary;
  @include mixins.pref_dark {
    color: variables.$c_text_secondary--dark;
  }
  @include mixins.bg_transition(.4s);
  @include mixins.font_base();
}

b,
strong {
  @include mixins.font_headline(bold);
}

cite {
  @include mixins.font_base();
}

code {
  border: solid 1px variables.$c_ui_neutral_300;
  box-sizing: border-box;
  border-left: solid 5px variables.$c_ui_neutral_300;
  @include mixins.pref_dark {
    border: solid 1px variables.$c_ui_neutral_300--dark;
    border-left: solid 5px variables.$c_ui_neutral_300--dark;
  }
  display: block;
  margin-bottom: 20px;
  padding: 8px;
  word-wrap: break-word;
  width: 100%;
  overflow-x: auto;
  white-space: pre-wrap;
  position: relative;
}

data {
  @include mixins.font_base();
  @include mixins.font_size(12px);
  color: variables.$c_text_disabled;
  @include mixins.pref_dark {
    color: variables.$c_text_disabled--dark;
  }
  content: ' (ID ' attr(value) ')';
}

em {
  font-style: italic;
}

sub,
sup {
  @include mixins.font_size(8px);
}
