@use "../partials/mixins";
@use "../partials/variables";

/**
 * header
 */
header {
  @include mixins.position_relative();
  z-index: 10;
  & .usa-flag {
     display: inline-block;
     & img {
       max-width: 25px;
     }
  }
  & .dd-header__search-icon {
    float: right;
  }
}
