@use "../partials/mixins";
@use "../partials/variables";

.dd-footer {
  background-color:variables.$c_ui_neutral_100;
  @include mixins.pref_dark {
    background-color:variables.$c_ui_neutral_100--dark;
  }
  & .company-info {
    align-items: center;
    &__logo {
      // todo
    }
  }
  &__copyright {
    background-color: variables.$c_ui_neutral_300;
    @include mixins.pref_dark {
      background-color: variables.$c_ui_neutral_300--dark;
    }
  }
}
